h1, h2, p, ul{
    font-family: arial, sans-serif;
}
h1{
    text-align: center;
    font-size: 30px;
    background-color: rgb(245, 245, 245);
    width: 400px;
    padding: 20px;
    text-align: auto;
    border: 15px solid rgb(75, 128, 75);
    margin: auto;
}
h2{
    font-size: 30px;
}
p{
    font-size: 18px;
}
ul{
    font-size: 16px;
}
a:link{
    color: rgb(179, 110, 198);
}
a:visited{
    color: rgb(108, 66, 119);
}
a:hover{
    background-color: rgb(222, 236, 222);
}
a:active{
    text-decoration: none;
}
body{
    background-color: rgb(238, 244, 238);
}
